
/* error404 */
.error-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 25px;
}

.error404 {
  text-align: center;
  padding: 2rem;
}

.error404 img {
  max-width: 100%;
  height: auto;
}
.error404 h1 {
  font-size: 3rem;
  margin-top: 1rem;
  color: #333;
}
.error404 p {
  font-size: 1.2rem;
  color: #666;
}
.error404 a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.error404 a:hover {
  text-decoration: underline;
}