/* Promotions sidebar grid */
/* Generic sidebar container (if used) */
.sidebar {
  flex: 0 0 var(--sidebar-w);
  /* fixed width sidebar */
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.promotions-products-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  /* Single column for sidebar */
  gap: 1.5rem;

  /* Constraints to prevent page growth */
  max-height: calc(100vh + 50px);
  /* Adjust '40px' based on your header/margin height */
  overflow-y: auto;

  /* Aesthetic scrollbar tweaks */
  padding-right: 0.5rem;
  scrollbar-gutter: stable;
  justify-items: center;
}

.logo-company {
  width: 100px;
  height: 100px;
  display: block;
  margin: 10px;
}

.separator {
  height: 2px;
  background-color: #444242;
  margin: 15px 0;
}

.info-description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  text-justify: auto;
  text-align: justify
}

.info-text {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}

.info-contact {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  text-justify: auto;
  text-align: left
}

.row-title-promo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.promo-img {
  width: 40%;
  height: 40%;
  display: block;
  margin-bottom: 15px;
}